/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto.woff');
    src: url('../fonts/roboto.woff2');
  } 

  @font-face {
    font-family: 'Robotobold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/robotobold.woff');
    src: url('../fonts/robotobold.woff2');
  } 

  @font-face {
    font-family: 'Robotomedium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/robotomedium.woff');
    src: url('../fonts/robotomedium.woff2');
  } 